# Database connection string (Transaction Pooler for runtime)
DATABASE_URL="postgresql://postgres:password@aws-0-region.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection string (Session Mode for migrations)
DIRECT_URL="postgresql://postgres:password@aws-0-region.pooler.supabase.com:5432/postgres"

# Better Auth secret and base URL
BETTER_AUTH_SECRET="your-super-secret-key-32-chars-min"
BETTER_AUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

NODE_ENV="development"

# Nodemailer SMTP Mailer Configuration
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=465
SMTP_USER="your-email@gmail.com"
SMTP_PASS="your-app-password"
SMTP_FROM="Class Attendance Management System <your-email@gmail.com>"
